{% extends "FBAppBundle::layout.html.twig" %}

{% block body %}
    <h1 class="title">Ajax!</h1>

    <a id="ajax_trigger" href="#">ajax trigger</a>
    <div id="ajax_target" data-ajax_url="{{ path('fb_ajax_post') }}">ajax target</div>

    <br>

    <a id="fb_ajax_trigger" href="#">fb ajax trigger</a>
    <div id="fb_ajax_target" data-ajax_url="{{ path('fb_ajax_fb') }}">fb ajax target</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        //yes, I know.  -.-

        function do_some_ajax($element_whose_text_to_replace) {

            $element_whose_text_to_replace.text("loading");

            $.ajax({
                type: "POST",
                url: $element_whose_text_to_replace.data('ajax_url'),
                data: { data: Math.floor(Date.now() / 1000) },
                dataType: "json"
            })
                    .done(function (data) {

                        if(data.success) {
                            $element_whose_text_to_replace.text(data.message);
                            console.log(data.print);
                        }

                        else
                            alert('AJAX didn\'t work :(');
                    });
        }


        jQuery(document).ready(function($) {

            // Code here will be executed on document ready. Use $ as normal.

            $('#ajax_trigger').on("click", function(e) {

                do_some_ajax( $('#ajax_target') );

                e.preventDefault();
            });

            $('#fb_ajax_trigger').on("click", function(e) {

                do_some_ajax( $('#fb_ajax_target') );

                e.preventDefault();
            });
        });

    </script>


{% endblock %}