{% extends "FBAppBundle::layout.html.twig" %}

{% block title "Hi " ~ name %}

{% block content %}
    <h1 class="title">Hi {{ name }} secured for Admins only!</h1>
{% endblock %}

{% set code = code(_self) %}
