{% extends "FBAppBundle::layout.html.twig" %}

{% block title 'User: ' ~ name  %}

{% block body %}
    <h1 class="title">Hi {{ name }}!</h1>
    <pre>
    {{ dump(response) }}
    </pre>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}