# app/config/routing.yml
#HWIOAuthBundle routes
hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    #prefix:   /connect
    prefix:   /demo/secured/connect

#hwi_oauth_login:
#    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
#    prefix:   /login

fb_app:
    resource: @FBAppBundle/Controller/
    type:     annotation
    prefix:   /fb


facebook_login:
    #pattern: /login/check-facebook
    pattern: /demo/secured/login_facebook