# you can read more about security in the related section of the documentation
# http://symfony.com/doc/current/book/security.html
security:
    acl:
        connection: default
    encoders:
        pcraig3\FBAppBundle\Entity\User:
            algorithm:        sha1
            encode_as_base64: false
            iterations:       1

    # http://symfony.com/doc/current/book/security.html#hierarchical-roles
    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        my_custom_hwi_provider:
            id: ib_user.oauth_user_provider

    # the main part of the security, where you can set up firewalls
    # for specific sections of your app
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        secured_area:
            pattern: ^/
            anonymous: true
            logout: true
            logout:
                path:   /logout
                target: /
            oauth:
                resource_owners:
                    facebook:      "/login/check-facebook"
                login_path:        /login
                check_path:       /login/login_check
                failure_path:      /login
                oauth_user_provider:
                    service: ib_user.oauth_user_provider

            # Turn on anonymous for testings need.
            #anonymous: ~

    # with these settings you can restrict or allow access for different parts
    # of your application based on roles, ip, host or methods
    # http://symfony.com/doc/current/cookbook/security/access_control.html
    #access_control:
        #- { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
    access_control:
        - { path: ^/admin/users, roles: ROLE_SUPER_ADMIN }
        - { path: ^/presence, roles: ROLE_ADMIN }
        - { path: ^/user, roles: ROLE_USER }